name: GH Pages

on:
  workflow_dispatch:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build-and-deploy:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Set up Node JS
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: "package.json"
          cache: pnpm

      - name: Install and Build
        run: |
          pnpm install --frozen-lockfile --production
          pnpm run build

      - name: Stamp build
        run: date -u +"%Y-%m-%dT%H:%M:%SZ" > dist/build.txt

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          folder: dist
          clean: true
